
.examples {
margin: 10px;
	width: 200px;
	height: 200px;
	background-color: yellow;
	border-width: 5px;
	border-color: red;
	border-style: dotted;
	padding: 10px;
	margin: 10px;
	margin-top: 50px;
	margin-bottom: 10px;
}
